.encabezado {
  background-color: #EFC7C2;
  padding: 20px 40px;
  color: #694F5D;
}

.titulo {
  margin-bottom: 10px;
  color: #432d39;
}

.descripcion {
  background-color: #694F5D;
  color: #FFE5D4;
  padding: 3px 5px;
  border-radius: 5px;
}
